# ESP_PLATFORM specifics
build/
sdkconfig.old

# XCode specifics
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
*.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint
*.xcodeproj/xcuserdata
