[submodule "p44btdmx_esp32/components/p44utils"]
	path = p44btdmx_esp32/components/p44utils
	url = ../p44utils.git
	branch = luz
[submodule "p44btdmx_esp32/components/p44lrgraphics"]
	path = p44btdmx_esp32/components/p44lrgraphics
	url = ../p44lrgraphics.git
	branch = master
