[submodule "components/p44utils"]
	path = components/p44utils
	url = ../p44utils.git
	branch = luz
[submodule "components/p44lrgraphics"]
	path = components/p44lrgraphics
	url = ../p44lrgraphics.git
	branch = master
