CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_BEFORE_NORESET=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_P44BTDMX_PWMLIGHT=y
CONFIG_BT_ENABLED=y
# CONFIG_BT_GATTS_ENABLE is not set
# CONFIG_BT_GATTC_ENABLE is not set
# CONFIG_BT_BLE_SMP_ENABLE is not set
# CONFIG_ETH_USE_ESP32_EMAC is not set
# CONFIG_ETH_USE_SPI_ETHERNET is not set
# CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS is not set
# CONFIG_ESP32_WIFI_SW_COEXIST_ENABLE is not set
# CONFIG_FMB_COMM_MODE_ASCII_EN is not set
CONFIG_LWIP_SO_RCVBUF=y
CONFIG_LWIP_TCP_SYNMAXRTX=6
CONFIG_OPENSSL_ASSERT_DO_NOTHING=y
CONFIG_P44LRGRAPHICS_ENABLE_VIEWCONFIG=y
CONFIG_P44LRGRAPHICS_ENABLE_VIEWSTATUS=y
CONFIG_P44LRGRAPHICS_ENABLE_ANIMATION=y
CONFIG_P44UTILS_ENABLE_LEDCHAIN=y
CONFIG_P44UTILS_ENABLE_JSON=y
CONFIG_P44UTILS_ENABLE_P44SCRIPT=y
CONFIG_P44UTILS_ENABLE_P44LRGRAPHICS=y
