menu "P44BTDMX-Controller Configuration"


config P44_WIFI_SUPPORT
    bool "Enable Wifi in p44utils based app"
    help
        This enables using Wifi at all in p44utils based app

config P44BTDMX_SYSTEMKEY
    string "P44BTDMX system key (>=32 bytes hex)"
    help
        Encryption/Obfuscation key for P44BTDMX protocol

config P44BTDMX_PWMLIGHT
    bool "Enables PWM light as light #0"
    help
        This enables PWM R,G,B light as light #0

choice ESP_WIFI_MODE
    prompt "AP or STA"
    default ESP_WIFI_IS_STATION
    help
        Whether the esp32 is softAP or station.

config ESP_WIFI_IS_SOFTAP
    bool "SoftAP"
config ESP_WIFI_IS_STATION
    bool "Station"
endchoice

config ESP_WIFI_MODE_AP
    bool
    default y if ESP_WIFI_IS_SOFTAP
    default n if ESP_WIFI_IS_STATION

config ESP_WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
	SSID (network name) for the example to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
	WiFi password (WPA or WPA2) for the example to use.

config MAX_STA_CONN
    int "Max STA conn"
    default 4
    help
	Max number of the STA connects to AP.
endmenu
